{% extends "hr_web_app/base.html" %}
{% load static %}

{% block header %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">
        {{ section.name }}
        <a href="{% url 'separation_letter:edit_section' section.id %}"><i class="fas fa-pencil-alt fa-sm"></i></a>
    </h1>
    <a href="{% url 'separation_letter:section' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-arrow-left fa-sm text-white-50"></i> Back to List</a>
</div>
{% endblock %}

{% block page_content %}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">View Information</h6>
    </div>
    <div class="card-body">
        <h6 class="m-0 font-weight-bold text-primary">Section Name</h6>
        {{ section.name }}
        <hr>
        <h6 class="m-0 font-weight-bold text-primary">Standard Text</h6>
        {{ section.standard_text }}
        <hr>
        <h6 class="m-0 font-weight-bold text-primary">Sub-Template</h6>
        {{ section.subtemplate_indicator }}
        <hr>
        <h6 class="m-0 font-weight-bold text-primary">Paragraph Text (as entered)</h6>
        {{ section.paragraph_text|safe }}
        <hr>
        <h6 class="m-0 font-weight-bold text-primary">Paragraph Text (as displayed)</h6>
        {{ parsed_paragraph_text|safe }}
        <hr>
        <h6 class="m-0 font-weight-bold text-primary">Category Name</h6>
        {{ section.category.name }}
        <hr>
        <h6 class="m-0 font-weight-bold text-primary">Date Added</h6>
        {{ section.date_added }}
        <hr>
        <h6 class="m-0 font-weight-bold text-primary">Date Modified</h6>
        {{ section.date_modified }}
        <hr>
        <h6 class="m-0 font-weight-bold text-primary">Status</h6>
        {{ section.get_status_display }}
    </div>
</div>

{% endblock %}
